@use "./variables" as var;

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var.$bg-color;
  font-family: var.$Roboto;
  color: var.$text-color;
}

.main {
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  max-width: 1440px;
}

//COMPONENTS STYLES
//ARTICLES
.article {
  &__paragraph {
    padding: 1em;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: left;
  }
}

//FORMS
.btn {
  display: flex;
  margin: .25em auto;
  border: var.$main-color;
  padding: .5em 1em;
  background-color: var.$main-color;
  cursor: pointer;

  &__text {
    padding: .5em 1em;
    font-size: 1.4rem;
    font-weight: bold;

    .icon {
      &__img {
        width: 1.5em;
        height: 1.5em;
        padding-top: .5em;
      }
    }
  }
}

//NAVIGATION
.navigation {
  &-mobile {
    display: flex;
    flex-direction: column;
  }

  &-desktop {
    display: none;
  }
}

.internalLink {
  text-decoration: none;
}

.navitems {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
}

.navitem {
  display: inline;
  margin: .25em;
  box-shadow: 2px 3px var.$icon-color;
  padding: 1.5em .5em;
  cursor: pointer;
  font-size: 1.6rem;
  text-align: center;

  &:hover {
    background-color: var.$main-color;
  }

  &__link {
    text-decoration: none;
    color: var.$text-color;

    &:hover {
      color: var.$text-light-color;
    }
  }
}

.burger {
  background-color: var.$bg-footer-color;
  cursor: pointer;

  .coloredText {
    padding: 1em 2em;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: bold;
  }

  .icon {
    padding: 1em 2em;

    &__img {
      width: 25vw;
    }
  }
}

//OTHER
.accordion {
  &__item {
    position: relative;
    padding: 0 1em 0 1em;
    font-size: 1.6rem;
    text-align: left;
    list-style-type: decimal-leading-zero;
    list-style-position: inside;

    &::marker {
      margin-left: 1.5em;
    }

    .otherTitle {
      padding-top: .5em;
    }

    .icon {
      position: absolute;
      top: 1em;
      right: 3em;
      cursor: pointer;
    }

    .article {
      border-bottom: 2px solid var.$icon-color;
    }

    .article__paragraph {
      padding: 1em 2em 1em 0;
    }
  }
}

//PICTURES
.icon {
  &__img {
    width: 2em;
    height: 2em;
  }
}

//TYPOGRAPHY
.article {
  &__paragraph {
    text-align: left;
  }
}

.coloredText {
  color: var.$main-color;
}

.mainTitle {
  padding: 1em 2em;
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: bold;
  text-align: center;
}

.subTitle {
  font-size: 1.8rem;
  font-weight: bold;
}

.otherTitle {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
}

.quote {
  padding: 1em 2em;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: left;

  &__short {
    font-size: 1.4rem;
  }
}

//TEMPLATES STYLE
//ACCORDION
.accordion {
  margin: 2em 0 4em 0;

  .orderedList {
    margin: 0 auto;
    width: 400px;
  }
}

//CARDS
.cards {
  margin: 2em 0 4em;
}

//FOOTER
.footer {
  margin: 2em 0;
  background-color: var.$bg-footer-color;
  color: var.$text-light-color;

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;

    .article__paragraph {
      font-size: 1rem;
      text-align: center;
    }

    .internalLink {
      color: var.$text-light-color;

      &:hover {
        color: var.$main-color;
      }
    }
  }
}

//FORM
.subscription {
  margin: 2em 0 4em;
}

//HEADER
//QUOTATION
.quotation {
  margin: 2em 0 4em;
}

//SLIDER
.slider {
  margin: 2em 0 4em;

  &__article {
    margin: 0 auto;
    width: 400px;
  }
}

@import "./rwd";
