@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #2B2D26;
}

.main {
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  max-width: 1440px;
}

.btn {
  display: flex;
  margin: 0.25em auto;
  border: #29CC6A;
  padding: 0.5em 1em;
  background-color: #29CC6A;
  cursor: pointer;
}
.btn__text {
  padding: 0.5em 1em;
  font-size: 1.4rem;
  font-weight: bold;
}
.btn__text .icon__img {
  width: 1.5em;
  height: 1.5em;
  padding-top: 0.5em;
}

.externalLink__text {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
  font-size: 1.4rem;
}

.arrowSignRight {
  font-size: 2rem;
  color: #29CC6A;
}

.navigation-mobile {
  display: flex;
  flex-direction: column;
}
.navigation-desktop {
  display: none;
}

.internalLink {
  text-decoration: none;
}

.navitems {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
}

.navitem {
  display: inline;
  margin: 0.25em;
  box-shadow: 2px 3px #A9ACAC;
  padding: 1.5em 0.5em;
  cursor: pointer;
  font-size: 1.6rem;
  text-align: center;
}
.navitem:hover {
  background-color: #29CC6A;
}
.navitem__link {
  text-decoration: none;
  color: #2B2D26;
}
.navitem__link:hover {
  color: #fff;
}

.burger {
  background-color: #2B2D26;
  cursor: pointer;
}
.burger .coloredText {
  padding: 1em 2em;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: bold;
}
.burger .icon {
  padding: 1em 2em;
}
.burger .icon__img {
  width: 25vw;
}

.accordion__item {
  position: relative;
  padding: 0 1em 0 1em;
  font-size: 1.6rem;
  text-align: left;
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
}
.accordion__item::marker {
  margin-left: 1.5em;
}
.accordion__item .otherTitle {
  padding-top: 0.5em;
}
.accordion__item .icon {
  position: absolute;
  top: 1em;
  right: 3em;
  cursor: pointer;
}
.accordion__item .article {
  border-bottom: 2px solid #A9ACAC;
}
.accordion__item .article__paragraph {
  padding: 1em 2em 1em 0;
}

.card {
  position: relative;
  margin: 1em;
  box-shadow: 10px 5px 5px #A9ACAC;
  border-radius: 3px;
  width: 165px;
  height: 135px;
}
.card:nth-child(3) {
  background-color: #29CC6A;
}
.card:nth-child(3) .externalLink__link, .card:nth-child(3) .externalLink__text, .card:nth-child(3) .arrowSignRight {
  color: #fff;
}
.card .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card .icon__img {
  width: 40px;
  height: 40px;
}

.icon__img {
  width: 2em;
  height: 2em;
}

.article__paragraph {
  padding: 1em;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: left;
}

.coloredText {
  color: #29CC6A;
}

.mainTitle {
  padding: 1em 2em;
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: bold;
  text-align: center;
}

.subTitle {
  font-size: 1.8rem;
  font-weight: bold;
}

.otherTitle {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
}

.quote {
  padding: 1em 2em;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: left;
}
.quote__short {
  font-size: 1.4rem;
}

.accordion {
  margin: 2em 0 4em 0;
}
.accordion .orderedList {
  margin: 0 auto;
  width: 400px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}
.cards__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4em 1em;
}
.cards__content {
  padding: 1em 2em 1em 1em;
}

.footer {
  padding: 2em 0;
  background-color: #2B2D26;
  color: #fff;
}
.footer__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__footer .article__paragraph {
  font-size: 1rem;
  text-align: center;
}
.footer__footer .internalLink {
  color: #fff;
}
.footer__footer .internalLink:hover {
  color: #29CC6A;
}

.subscription {
  display: flex;
  flex-direction: column;
  margin: 2em 0 0 0;
  background-color: #29CC6A;
}
.subscription .subTitle {
  padding: 1.5em;
  font-size: 1.4rem;
  color: #fff;
}
.subscription .btn {
  box-shadow: 5px 2px 3px #A9ACAC;
  border: 1px solid #fff;
  padding: 0.5em 1em;
}
.subscription .btn__text {
  text-align: center;
  color: #fff;
}
.subscription .input {
  margin: 0.5em 2em;
  font-size: 2rem;
}
.subscription .label {
  padding: 0.5em 1em;
  font-size: 1.4rem;
  color: #fff;
  margin: 0.25em;
}

.quotation {
  margin: 2em 0 4em;
}
.quotation .subTitle {
  padding: 1em;
  line-height: 1.5;
  color: #29CC6A;
}
.quotation__text {
  padding: 2em 0;
  border-left: 3px solid #29CC6A;
}
.quotation__content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1em 2em 0.25em;
}
.quotation__content .icon:nth-child(1) {
  position: absolute;
  left: 4em;
}
.quotation__content .icon:nth-child(2) {
  position: absolute;
  bottom: 10em;
  right: 4em;
}
.quotation__content .quote__short {
  padding: 1em 2em;
}
.quotation .invisionicon {
  width: 15em;
  height: 5em;
  padding: 1em 2em;
}

.slider {
  margin: 2em 0 4em;
}
.slider__article {
  margin: 0 auto;
  padding-right: 1em;
}

/*# sourceMappingURL=main.css.map */
