@use "./variables" as var;

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var.$bg-color;
  font-family: var.$Roboto;
  color: var.$text-color;
}

.main {
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  max-width: 1440px;
}

//COMPONENTS STYLE
.coloredText {
  color: var.$main-color;
}

.mainTitle {
  font-size: 4.8rem;
  line-height: 1.33;
  font-weight: bold;
  text-align: left;
}

.navigation{

  &-mobile{
    display: flex;
    flex-direction: column;
    color: var.$main-color;
  }
  &-desktop{
    display: none;
  }
}

//TEMPLATES STYLE
